<tr>
  <td><%= item.contract_title %></td>
  <td><%= item.total_rating %></td>
  <td><%= link_to 'View', company_contract_path(item.company_id, item) %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_company_contract_path(item.company_id,item) %>
  <% end %>
  </td>
</tr>
