<br><br>

<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>About TOS Fairness</h1>

  <p>The Terms of Service Fairness Project is a wholly owned subsidiary project of Break Diving, Inc., a 501(c)(3) tax-exempt organization headquartered in New York.</p>

  <p>TOS Fairness grew out of founder and attorney Monroe Mann's increasing frustration with the American court system as well as the absolutely horrifically unfair online terms of services that people were unknowingly or unwittingly signing.</p>  

  <p>While it may be possible to fight each and every company in each and every state and in each and every country, it would take decades, and inevitably, many unfair terms of service agreements would slip under the courts' radars.  Worse, if the law were different in every single state or country, that makes things even more complicated.  Most importantly, judges are often not the brightest of people--they are, after all, all lawyers.  Sadly, you can't trust a judge to make the right decision anymore.  In other words, instead of using the legal system to curb errant companies, our intent here is to help avoid anyone ever having to use the legal system in the first place--by encouraging companies to voluntarily make the terms of their agreements upfront, clear, and fair.</p>

  <p>So, instead of trying to use the legal system to fight these battles from the outside, Break Diving founder Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME decided to fight these companies from the inside by creating the TOS Fairness Project: by using peer pressure and public awareness, our intent is to encourage companies to voluntarily update their terms of services to be more in favor of the consumer.  Those that don't, we hope, will lose business and good will to those companies that adhere to our online user bill of rights.</p>

  <p>Our ratings result from the tireless work of hundreds of volunteer & paid attorneys from around the world, as well as the candid feedback from actual users who interact with the terms of services in question every day.</p>

  <p>Thanks for visiting us, and please, spread the word.  The more people who know to come to TOSFairness prior to clicking "I agree", the better off the world will be!</p>

  <h3>Becoming a User</h3>

  <p>First, you don't have to sign up.  If you just want to read the ratings, you can use the service for free without signing up!</p>

  <p>If you do sign up to use TOS Fairness as a user, you will able to rate the agreements and companies yourself, and your score will be averaged into the historical user ratings.  Each rating includes a comment box where you will explain your exerience with that company and its terms of service.  Only your first name is disclosed.  If you delete your account, all of your ratings and comments will also be deleted.  Simple as that.  For more details, we also suggest you read our simple and fair <a href="terms">terms of service and privacy policy</a>.</p>

  <p>Whether you sign up or not, you can use our service without fear, knowing that we have a very high TOSfairness rating based on our very own <a href="bill_of_rights">bill of rights</a> and <a href="rating_system">tos rating system</a>.  In other words, you can trust us.</p>

  <p>NOTE: We are not a for-profit project of Break Diving, Inc., a 501(c)(3) tax-exempt corporation.  <a href="http://www.breakdiving.org/contribute">All donations to Break Diving</a>, Inc. will help to further the reach of this TOSfairness website, help to bring on additional coders and attorneys, and ensure that the ideals of transparency espoused on this website and in our bill of rights continue to spread throughout the world.</p> 

  <h3>Contact</h3>

  <p>Got something to say?  If you would like to get in touch, have found coding bugs, would like to make a suggestion for improvement, or are a company with a comment or concern, please send an email to info @ break diving . org.  Someone from our staff will get back to you as soon as possible.</p>

</div>