<br><br>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>About TOS Fairness</h1>

  <p>The Terms of Service Fairness Project is a wholly owned subsidiary project of Break Diving, Inc., a 501(c)(3) tax-exempt organization headquartered in New York.</p>

  <p>TOS Fairness grew out of founder and attorney Monroe Mann's increasing frustration with the American court system as well as the absolutely horrifically unfair online terms of services that people were unknowingly or unwittingly signing.</p>  

  <p>While it may be possible to fight each and every company in each and every state and in each and every country, it would take decades, and inevitably, many unfair terms of service agreements would slip under the courts' radars.  Worse, if the law were different in every single state or country, that makes things even more complicated.  Most importantly, judges are often not the brightest of people--they are, after all, all lawyers.  Sadly, you can't trust a judge to make the right decision anymore.  In other words, instead of using the legal system to curb errant companies, our intent here is to help avoid anyone ever having to use the legal system in the first place--by encouraging companies to voluntarily make the terms of their agreements upfront, clear, and fair.</p>

  <p>So, instead of trying to use the legal system to fight these battles from the outside, Break Diving founder Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME decided to fight these companies from the inside by creating the TOS Fairness Project: by using peer pressure and public awareness, our intent is to encourage companies to voluntarily update their terms of services to be more in favor of the consumer.  Those that don't, we hope, will lose business and good will to those companies that adhere to our online user bill of rights.</p>

  <p>Our rating system combines the tireless work of hundreds of volunteer attorneys from around the world, as well as the candid feedback from actual users who interact with the terms of services in question every day.</p>

  <p>Thanks for visiting us, and please, spread the word.  The more people who know to come to TOSFairness prior to clicking "I agree", the better off the world will be!</p>

</div>