<br><br>

<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h3>The TOS Fairness Project</h3>
  <h1>Online User Bill of Rights</h1>
  <h4>Version 2.3 by TOS Fairness Volunteer Attorneys</h4>

  <p>Online users are the lifeblood of online companies.  Without the consumer, there would be no smartphones, no social media, no games, and no software.  Without the consumer, the company dies.</p>

  <p>Given this self-evident truth, it is reasonable to expect that these companies (that survive because of consumers) will be honest, fair, transparent, reasonable, and LOVING of the user base that they (and others like them) collectively provide.</p>

  <p>Therefore, this Online Bill of Rights was created to protect users such as me, and… such as you.  TOSfairness expects that those companies with whom we users choose to do business will adhere to the standard set forth below.  Those websites, apps, and companies that do will be rewarded.  Those that do not... will have their disregard for user rights publicly scrutinized and disclosed here on and through the Terms of Service Fairness Project.</p>

  <p>Each online TOS submitted is rated from 0 - 100, with 0 being egregiously unfair, and 100 being majestically fair.  It is our hope that this bill of rights will inspire you—the company heads—to take a good hard look at your terms of service using our standards, and... revise your agreements accordingly.</p>

  <p>I, the user, do hereby declare that I and other users like me shall have:</p>

  <ol>
    <!-- NUMBER ONE -->
    <li><b>The Right to Privacy</b> - I demand my right to privacy.</li>
      <p>The private information that I share with a company in order to use the service or website (including my email address) may NEVER be sold to or shared with another company, without my signing a separate agreement, or without otherwise clearly being disclosed up front.  A company may offer advertising on its website, but I nonetheless expect that my private data will remain private within the company, and that no one outside the company will ever have access to any particular identifying data about me that I have not clearly declared as ‘public – for all the internet to see’.  If a company shares information about me with law enforcement without a subpoena, I expect to be notified that a disclosure to law enforcement was made, and to be informed precisely what was shared.</p>

    <!-- NUMBER TWO -->  
    <li><b>The Right to Equal, Fair, & Reasonable Expression</b> - I demand a right to be free from arbitrary and unreasonable censorship and other limits on my free speech.</li>
      <p>If I can say or do something in person, and not be censored or arrested, then that right remains for me online as well.  The mere fact that someone may disagree with my online opinion is not to ever be grounds for censorship or removal of my posts, or deletion or blocking of my account.  I may say whatever I want, whenever I want, wherever I want unless my online actions directly encourage harm or self-harm to another person; unless I maliciously criticize or demean an individual; unless I maliciously or carelessly disseminate untruths about someone; unless my words are considered foul language in a family-friendly environment; or unless my words are a legitimate violation of other fair terms that were explained to me, i.e. a no-advertising policy, for example.  All users shall be treated equally, all other things being equal.</p>

    <!-- NUMBER THREE -->
    <li><b>The Right to Control My Intellectual Property</b> - I demand a right to fully control my original content, always, unless otherwise agreed.</li>
      <p>My original content must always remain my original content, unless independently negotiated, or  otherwise clearly disclosed up front.  Unless clearly stated in big bold letters on the public website, I agree only to give a company a non-exclusive license to use my posted intellectual property on the website, and only for the express purposes of facilitating my use of the services offered; unless otherwise agreed, under no circumstances may my intellectual property be used for any other purposes, to include advertising.</p>

    <!-- NUMBER FOUR -->
    <li><b>The Right to Sue</b> - I demand a right to sue at any time, subject to any statutes of limitations.</li>
      <p>The right to raise a claim in a court of law is not something I should be forced to give up.  It is a right that I should be able to utilize, without question, and my recovery will not be limited to any particular dollar amount or restricted legal outcome.  Ideally, any lawsuit I choose to file should be permitted in a venue close to my home or business, regardless of where I am in the world, as long as jurisdiction would otherwise be proper; small companies that make less than $250,000 a year in gross income are exempt from this requirement. If my case is determined by a legitimate court of law to be undeniably frivolous, I will pay the reasonable legal and travel costs incurred by the defendant company.</p>

    <!-- NUMBER FIVE -->
    <li><b>The Right to Low-Cost Arbitration</b> - I demand a right to pursue low-cost arbitration.</li>
      <p>Sometimes, resolution of a claim in a court of law is too expensive.  Therefore, I shall also have the right to utilize consumer arbitration (if I am a consumer) and/or pursue arbitration through any duly recognized arbitration organization, and my recovery will not be limited to any particular dollar amount or restricted legal outcome.  Ideally, any arbitration should be permitted in a venue close to my home or business, regardless of where I am in the world, as long as jurisdiction would otherwise be proper; small companies that make less than $250,000 a year in gross income are exempt from this requirement.  If my case is determined by the arbitrator to be undeniably frivolous, I will pay the reasonable legal and travel costs incurred by the defendant company.</p>

    <!-- NUMBER SIX -->
    <li><b>The Right to Join a Class Action</b> - I demand a right to join any class action.</li>
      <p>While class actions cannot be initiated by one person, and while they do not often result in great financial gain for the individual class members, the threat of them often does ensure that companies do not take advantage of the typical individual's hesitation to file an individual lawsuit against a company.  I want companies to know that we—the users—may decide to join forces against them via a class action if they persistently take advantage of us.  Therefore, I demand the right to join such a class action lawsuit.</p>

    <!-- NUMBER SEVEN -->
    <li><b>The Right to No Hidden Terms or Fees</b> - I demand a right to know exactly what I am signing up for before I sign up!</li>
      <p>I expect and am entitled to clearly see all of the major terms of the agreement up front in the online sales materials, on the public website, and in clear bullet points, and to know exactly what precise services I will receive for my payment.  I must not be forced to hire an attorney and/or spend hours reading through the terms of service agreement simply to feel comfortable using or signing up to use an online service or website.</p>

    <!-- NUMBER EIGHT -->  
    <li><b>The Right to Fair Process &amp; To Be Heard</b> - I demand a right to be heard prior to any removal proceedings, and such removal proceedings shall not be arbitrary, but rather, shall be fair, reasonable, and transparent.</li>
      <p>A company may not contract with a user and then arbitrarily kick the user off or block the user’s access to the service (or censor something shared) merely by conveniently citing a “terms of service violation” without due process, ‘due process’ defined as follows: I am entitled—always—first to some type of warning (and an opportunity to correct myself) prior to any action being taken against me and/or my account.  After signing up, under no circumstances may any action be taken against me affecting my ability to use the service (barring failure to pay) until a) I have been afforded a reasonable defense period consisting of an opportunity to explain my side of the story to a decision maker of adequate status within the company and until b) a fair and impartial decision has been made that has taken all factors into consideration.  A mere multiple flagging of my post(s), page(s), or tag(s) by random people or bots without further investigation by staff, and without a subsequent opportunity to be heard prior to account or post deletion or censorship, is not grounds for citing a terms of service violation and immediately deleting, blocking, or censoring an account or post.  The only exception to the above are cases of imminent threat and safety to another individual, which do happen, but are rare.</p>

    <!-- NUMBER NINE -->
    <li><b>The Right To Appeal & The Right to Return</b> - I demand a right to appeal any decision which removes me and/or blocks me, and also demand a right to return to the service after some period of time.</li>
      <p>If it is determined (through the process outlined above in paragraph 8) that I have indeed violated the terms of service, before I am kicked off the service and/or my post(s) are removed and/or my ability to use the service is restricted in any way, I am immediately entitled to an appeal process, to be heard by a decision maker of higher status than the first decision maker and/or some type of appellate body (internally or otherwise) that works fairly and impartially with customers who are denied service or prohibited from using some aspect of the service.  During the appeal process, I or my post may be removed and/or blocked from the service, but other users who attempt to find me, my page, or my posts, should be made aware that I am currently appealing a decision by the company to remove me, my post, or some other aspect of my use of the service, so that others know that the appeal process is underway.  Should I lose the appeal, I and/or my posts may be removed on a long-term basis.  However, if after the appeal process, I am prohibited from using the service due to a valid terms of service violation, I must always be entitled to a ‘second chance/right to return’ after a period of time, never to exceed one year, in order to afford me an opportunity to again use the service after a period of reflection.  After a second terms of service violation of the precise same type I can, however, be barred permanently from the service; additional terms of service violations of a different type must go through the process outlined in paragraph 8, above.</p>

    <!-- NUMBER TEN -->
    <li><b>The Right to Reasonable Terms</b> – Since online terms of service agreement are all considered “contracts of adhesion” in which I have no ability to negotiate, I demand that the overall terms of the agreement I must sign are deemed fair using a reasonable person standard.</li>
      <p>It is because of online users like me that companies with an online presence make money.  Therefore, the least such a company can do in appreciation of the customer is to offer fair terms that treat me respectfully and that recognize me as a valuable partner in your success.</p>
  </ol>

  

</div>