<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">The Terms of Service Fairness Project</h1>
        <p> We at TOSfairness are a collective of volunteer attorneys and netizens focused on corporate transparency in murky 'click' agreements.  None of us reads every click agreement before joining a new website or downloading the latest phone software or game.  Well, until now.  Now, we read and rate as many of them for you as we can, based on popular demand.  Awesome, right?  You're welcome.  Brought to you by Break Diving, Inc. a 501(c)(3) not-for-profit with one primary mission: helping individuals succeed in life.  It follows that in order for people to succeed in life, they should know exactly what they are signing on the internet, their phones, and in the cloud.  Agreed? Let's get started! </p>
        <p><a class="btn btn-primary btn-xs" role="button" href="#">Learn more about us »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Top 10 Fair Contracts</h2>
          <p>Here is a list of this week's MOST FAIR contracts, as a tribute to those companies that offer the highest levels of transparency, fairness, and genuine respect for their users and customers.</p>
          <p><a class="btn btn-secondary" role="button" href="#">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Your Online User Bill of Rights</h2>
          <p></p>
          <p><a class="btn btn-secondary" role="button" href="#">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Top 10 Unfair Contracts</h2>
          <p>Here is a list of this week's MOST UNFAIR contracts, as a warning to the public, and as a wakeup call to their CEOs of those companies that offer the lowest levels of transparency, unfair terms, and genuine disrespect for their users and customers.</p>
          <p><a class="btn btn-secondary" role="button" href="#">View details »</a></p>
        </div>
      </div>

      <hr>