<br><br>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>Our Rating System - Last Updated 5/22/18</h1>

  <p>In order to help preserve each users bill of rights, and in order to provide each user with a clear idea of what he or she is signing, each contract terms of service reviewed on this site is given a rating, from 0 - 100, with 100 being the most fair.</p>

  <h2>Part 1</h2>

  <p>Each agreement is first rated on a 0 - 50 scale, using the following criteria from our online user <a href="/bill_of_rights.html">bill of rights</a></p>.

  <ol>
    <!-- NUMBER ONE -->
    <li><b>The Right to Privacy</b> - Up to 5 Points</li>
    <!-- NUMBER TWO -->
    <li><b>The Right to Equal, Fair, &amp; Reasonable Expression</b> - Up to 5 Points</li>
    <!-- NUMBER THREE -->
    <li><b>The Right to Control My Intellectual Property</b> - Up to 5 Points</li>
    <!-- NUMBER FOUR -->
    <li><b>The Right to Sue</b> - Up to 5 Points</li>
    <!-- NUMBER FIVE -->
    <li><b>The Right to Low-Cost Arbitration</b> - Up to 5 Points</li>
    <!-- NUMBER SIX -->
    <li><b>The Right to Join a Class Action</b> - Up to 5 Points</li>
    <!-- NUMBER SEVEN -->
    <li><b>The Right to No Hidden Terms or Fees</b> - Up to 5 Points</li>
    <!-- NUMBER EIGHT -->
    <li><b>The Right to Fair Process &amp; To Be Heard </b> - Up to 5 Points</li>
    <!-- NUMBER NINE -->
    <li><b>The Right To Appeal & The Right to Return </b> - Up to 5 Points</li>    
    <!-- NUMBER TEN -->
    <li><b>The Right to Reasonable Terms</b> - Up to 5 Points</li>
  </ol>

  <!--IF ANYTHING CHANGES ON THIS PAGE, BE SURE TO INDICATE THE CHANGES AT BOTTOM-->

  <p>This initial bill of rights (explained in depth on the <a href="/bill_of_rights.html">bill of rights</a> page) provides an initial potential total of 50 points based on the contract itself.</p>  

  <h2>Part 2</h2>

  <p>An additional 50 points are granted as follows based on all prior related versions of that Terms of Service agreement:</p>

  <ul>
    <li><b>Historical Fairness</b> - Up to 10 Points</li>
      <p>Have previous iterations of this Terms of Service been fair over its lifetime?  If there have been no previous iterations, this score is based on the rating of the first version reviewed, excluding the historical fairness score.  Otherwise, if there are multiple versions of the same terms of service, an average of them all is used (excluding the historical fairness scores).  We often will seek out prior versions of your terms of service and add them to your rating to provide a more accurate historical rating.  Those companies that do not clearly show prior versions on their website may see a drop in the 'right to reasonable terms' section.</p>
    <li><b>Historical User Ratings</b> - Up to 10 Points</li>
      <p>Have users had good experiences with this product's or service's terms of service over the last 5 years? This score starts at 10, and thereafter, an average of all user reviews is used.</p>
    <li><b>Historical Lack of Lawsuits or Arbitrations</b> - Up to 10 Points</li>
      <p>Has the company had very few consumer initiated lawsuits or arbitrations over the last 5 years arising out of this or prior iterations of this terms of service?  The fewer legal issues that arrive in courts or in arbitration halls, the higher this number will be.  This score starts at 10, and drops as each court or arbitration battle is documented. Note: if the TOS prohibits users from publicly talking to the press about any lawsuits or arbitration, we will assume that at least 5 lawsuits or arbitration events have occurred, and will deduct 5 points automatically, even if it's a new TOS.</p>
    <li><b>Public Placement of TOS Rating Score</b> - Up to 20 points</li>
      <p>Does the company place its TOS Rating Score prominently and publicly on the homepage itself?  Does it also place its TOS Rating Score prominently on the actual Terms of Service signature page (ideally, directly next to the 'clickbox')?  Is each listing clickable to that company's terms of service rating page for that terms of service on our website?  It should read, at minimum: "TOS Fairness Rating: #/100" (with # replaced by the score and 'Read more' linking to our website's rating page for that company).  Is it clearly listed on any mobile app?  A company's initial score will automatically be 0 until the company lets us know that the score and link have been properly added a) on the homepage, and b) on the signup page next to the checkbox.</p>
  </ul>

  <h2>Summary</h2>

  <p>Together, this all comes to 100 points.  The higher the score, the more fair the agreement.  In general, a score of 90 or above is "Excellent"; 80 or above is considered "Reasonable"; 70 or above is considered "Be Cautious"; Below 70 is considered "Read Carefully Before Signing" and anything below 25 should probably be avoided at all costs, or USE AT YOUR OWN RISK BECAUSE YOU HAVE GIVEN UP NEARLY ALL OF YOUR RIGHTS IF YOU USE THAT SERVICE!</p>

  <p>Companies that follow and adhere to the bill of rights, and treat customers fairly and with respect, will come closest to earning the coveted, but rarely earned, 100.</p>

  <p>Each day, the top ten fair online contracts and top ten unfair online contracts will be publicly displayed on the TOSFairness.org homepage--as both a badge of honor to those who are at the top, and an embarrassing outing of those companies who disrespect their customers who are rated at the bottom.</p>

  <p>As a courtesy, TOSfairness will make a reasonable effort to contact any company that is reviewed on the website (via email, if an email address is easily listed on the company terms of service or website) to inform the company that their website and/or app has been reviewed on TOSfairness.  We do this in order to give that company an opportunity to review its rating, and should the company so desire, to use our bill of rights, score, and suggestions for improvement to improve the terms for the next version of the agreement.</p>

  <p><b>NOTE ABOUT GDPR (Global Data Protection Regulation of the European Union - Effective 5/25/2018)</b> - Although the GDPR regulations are an important regulation, we chose at this time not to include GDPR compliance as a factor in our bill of rights and ratings, even though many of its requirements echo some of our ideals.  Why?  First, it's unclear how implementation of GDPR will roll out and both large and small companies are still trying to determine precisely what is required.  Second, our bill of rights is based on overarching general common sense principles, and not any country's particular laws.  In the future, if we feel that certain provisions of the GDPR should be formally incorporated into our bill of rights and rating system, we shall update them accordingly.  Therefore, at this time, we are not using GDPR compliance as a factor in our ratings.</p>

  <!-- ***IF THIS SECTION CHANGES BELOW, ALSO UPDATE TERMS.HTML*** -->
  <h2>Are you a user or site visitor?</h2>
  <ul>
    <li><b>ACCURACY:</b> We make a reasonable effort to ensure that each attorney or law student reviews each contract in a fair, impartial, objective, and accurate manner using the bill of rights and rating system to guide the ratings.  Only licensed attorneys, former attorney, and final year law students are accepted onto our rating team, and they each must have have strong familiarity with contracts.  However, to err is human, so while our intent is to be fully accurate with each rating, an oversight or inaccuracy may occasionally slip in unintentionally.  If this is the case, and you find such an oversight or inaccuracy, we ask that you state this in the user reviews section and also send us an email (see top) to help us improve.  We will review the perceived inaccuracy and if proven valid, we will update the review as soon as we can, based on staff availability.</li>
    <br>
    <li><b>NOT LEGAL ADVICE:</b> The reviews on this website are merely a public service. No reviews on this website are to be considered legal advice. Each review is merely one potential analysis. Remember that each 'Click to Agree' agreement is (in most jurisdictions) deemed to be a binding contract between you and the company. Therefore, before making any final decision on whether to sign any online agreement, if you are uncertain, please be sure to read the contract in full, and if you are still confused, consult a licensed attorney in your country or state.  Use of this website does not in any way create any lawyer-client relationship anywhere in the world.  Posting of reviews on this website is not deemed to be the practice of law in any jurisdiction because there is no specified client, because the agreements are not being analyzed under the laws of any particular jurisdiction, and because we urge each site visitor to consult an attorney in his or her jurisdiction prior to signing any agreement.  The lens through which we analyze these agreements is simple common sense and general fairness from the point of view of a standard user.  Therefore, these reviews should in all situations simply be considered the public posting of research which others may feel free to disagree with.</li>
  </ul>

  <h2>Are you a company?</h2>
  <ul>
    <li><b>FAIR REVIEW:</b> You have the right to a fair review based wholly on the objective criteria we have presented in our bill of rights and rating system.  We make every effort to ensure that personal feelings are kept out of the reviews, because each attorney, former attorney, or law student is entitled to share his or her personal use feelings as a regular user.</li>
    <br>
    <li><b>ADDRESSING INACCURACIES:</b> You have the right to address any perceived inaccuracies you feel we have posted about your company by sending an email to us.  We will look at any information you present to us, and make a fair and timely effort based on our current staffing situation to determine if one of our reviewers was inaccurate.  We will make a reasonable effort to promptly update any information that we agree is inaccurate.</li>
    <br>
    <li><b>UPDATES TO BILL OF RIGHTS OR RATING SYSTEM:</b> We update the bill of rights and rating system whenever we feel it deserves such attention to improve our service to users worldwide.  Please check back on this page frequently to be notified of changes</li>
  </ul>
   <!-- ***IF THIS SECTION CHANGES ABOVE, ALSO UPDATE TERMS.HTML*** -->

  <h5>RECENT CHANGES</h5>
    <ul>
      <li>11/1/18 - Modified the rating system.  Each company starts out with a badge score of 0, and if the company adds the link and score appropriately, and informs us, that score can increase to 10, and then to 20.</li>
    </ul>

</div>
