<br><br>

<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>Tax Exempt Information</h1>

  <p>TOS Fairness is a wholly owned project of Break Diving, Inc., a 501(c)(3) tax-exempt corporation.</p>

  <p>Please visit www.BreakDiving.org to see all of our tax-exempt paperwork.</p>

  <p>Donations made to Break Diving, Inc. are used to keep TOS Fairness operating, and any donations are tax deductible in the United States and/or in accordance with your country's laws.</p>

  <p>Thank you in advance for <a href="http://www.breakdiving.org/contribute">making a donation.</a>  It will allow us to review more agreements, as well as share our service with more people around the world.</p>

</div>