<br>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">
  <h1>The TOS Fairness Team</h1>
  <p>The Terms of Service Fairness Project is made possible thanks to the incredible donations of time, money, and expertise of many people, including the Break Diving staff members listed below, as well as many donors to Break Diving, Inc. from around the world.</p>
  <br />
  <div class="row">
    <div class="col-xs-12 team-table-desktop">
      <h2>Management</h2>
      <table class="team-table">
        <tr>
          <td>
            <img src="assets/monroe.jpeg" alt="Monroe's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME.</b><br />
            - President (Break Diving, Inc.)
          </td>
        </tr>
        <tr>
          <td>
            <img src="assets/debbie.jpeg" alt="Debbie's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Ms. Debbie Bordelon</b><br />
            - Vice President (Break Diving, Inc.)
          </td>
        </tr>
        <tr>
          <td>
            <img src="assets/merlen.jpeg" alt="Merlen's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Ms. Merlen Hoekstra</b><br />
            - Board Member (Break Diving, Inc.)
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 team-table-mobile">
      <h2>Management</h2>
      <table class="team-table">
        <tr>
          <img src="assets/monroe.jpeg" alt="Monroe's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Monroe Mann</h5>
        </tr>
        <tr>
          - President (Break Diving, Inc.)<br />
        </tr>
        <br />
        <br />
        <tr>
          <img src="assets/debbie.jpeg" alt="Debbie's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Debbie Bordelon</h5>
        </tr>
        <tr>
          - Vice President (Break Diving, Inc.)<br />
        </tr>
        <br />
        <br />
        <tr>
          <img src="assets/merlen.jpeg" alt="Merlen's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Merlen Hoekstra</h5>
        </tr>
        <tr>
          - Board Member (Break Diving, Inc.)<br />
        </tr>
      </table>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 team-table-desktop">
      <h2>Coding Team</h2>
      <table class="team-table">
        <tr>
          <td>
            <img src="assets/monroe.jpeg" alt="Monroe's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Monroe Mann</b><br/>
            - Project Manager &amp; Junior Developer (<a href="https://github.com/monroemann" target="_blank">Monroe's Github</a>)<br/>
            - Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME is the creator of TOSfairness, and is proud to not only be the project manager, but also a junior full stack developer on the project.  He is a practicing NY entertainment attorney, focusing on contracts and wills for artists and businesses, and an entertainer himself who hopes you will subscribe to his <a href="youtube.com/monroemann">YouTube channel</a>.  Most importantly, he's an online user like you, who just got really sick of huge corporations taking advantage of him and his friends.<br/>
          </td>
        </tr>
        <tr>
          <td>
            <img src="assets/tara.jpg" alt="Tara's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Tara Jaikaeo</b><br/>
            - Senior Developer &amp; Lead Coder (<a href="https://github.com/taratip" target="_blank">Tara's Github</a>)<br/>
            - Tara is a full stack ruby on rails coder from Thailand who senior coded this project  from Boston.  She's very excited to be a part of this team.<br/>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <img src="assets/chris.jpg" alt="Chris's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Chris Van</b><br/>
            - Junior Developer (<a href="https://github.com/dynnog" target="_blank">Chris' Github</a>)<br/>
            - Chris is a full-stack software engineer who specialized in Ruby on Rails. He is the lead design man for the team, among many other things.<br/>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <img src="assets/robert.bmp" alt="Robert's profile image" class="profile-pic" />
          </td>
          <td>
            - <b>Robert Chen</b><br/>
            - Junior HTML/CSS Coder (<a href="https://github.com/gamester543" target="_blank">Robert's Github</a>)<br/>
            - Robert is (unbelievably) a high school student!  And one who is really great at HTML and CSS!  He's very happy to be on the TOSfariness team.<br/>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 team-table-mobile">
      <h2>Coding Team</h2>
      <table>
        <tr>
          <img src="assets/monroe.jpeg" alt="Monroe's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Monroe Mann</h5>
        <tr/>
        <tr>
          - Project Manager &amp; Junior Developer (<a href="https://github.com/monroemann" target="_blank">Monroe's Github</a>)<br/>
          - Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME is the creator of TOSfairness, and is proud to not only be the project manager, but also a junior full stack developer on the project.  He is a practicing NY entertainment attorney, focusing on contracts and wills for artists and businesses, and an entertainer himself who hopes you will subscribe at youtube.com/monroemann.  Most importantly, he's an online user like you, who just got really sick of huge corporations taking advantage of him and his friends.<br/>
        </tr>
        <br />
        <tr>
          <img src="assets/tara.jpg" alt="Tara's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Tara Jaikaeo</h5>
        </tr>
        <tr>
          - Senior Developer &amp; Lead Coder (<a href="https://github.com/taratip" target="_blank">Tara's Github</a>)<br/>
          - Tara is a full stack ruby on rails coder from Thailand who senior coded this project  from Boston.  She's very excited to be a part of this team.<br/>
        </tr>
        <br />
        <tr>
          <img src="assets/chris.jpg" alt="Chris's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Chris Van</h5>
        </tr>
        <tr>
          - Junior Developer (<a href="https://github.com/dynnog" target="_blank">Chris' Github</a>)<br/>
          - Chris is a full-stack software engineer who is specialied on Ruby on Rails. He is the head design man for the team among many other things.<br/>
        </tr>
        <br />
        <tr>
          <img src="assets/robert.bmp" alt="Robert's profile image" class="profile-pic" /><br />
          <h5 class="text-center">Robert Chen</h5>
        </tr>
        <tr>
          - Junior HTML/CSS Coder (<a href="https://github.com/gamester543" target="_blank">Robert's Github</a>)<br/>
          - Robert is (unbelievably) a high school student!  And one who is really great at HTML and CSS!  He's very happy to be on the TOSfariness team.<br/>
        </tr>
      </table>
      <br />
      <h5 class="text-center">If you're a coder/developer, <a href="volunteer.html">volunteer with us</a>.  We need you.</h5>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <h2>The Reviewers</h2>
      <ul>
        <li><b>Attorney Monroe Mann</b>, PhD, Esq, MBA, LLM, ME - Practising Attorney in New York (<a href="http://monroemannlaw.com" target="_blank">Monroe's Law Practice</a>)</li>
        <li>Your name here? If you're an attorney or law student, <a href="volunteer.html">volunteer with us</a>.  We need you.</li>
      </ul>
    </div>
  </div>

  <p> You can contact anyone above by sending an email to info@breakdiving.org </p>
</div>
