<br>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>The TOS Fairness Team</h1>

  <p>The Terms of Service Fairness Project is made possible thanks to the incredible donations of time, money, and expertise of many people, including the Break Diving staff members listed below, as well as many donors to Break Diving, Inc. from around the world.</p>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Management</h2>
        <ul>
          <li><b>Dr. Monroe Mann, PhD, Esq, MBA, LLM, ME</b> - President (Break Diving, Inc.)</li>
          <li><b>Ms. Debbie Bordelon</b> - Vice President (Break Diving, Inc.)</li>
          <li><b>Ms. Merlen Hoekstra</b> - Board Member (Break Diving, Inc.)</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>Coding Team</h2>
        <ul>
          <li><b>Tara Jaikaeo</b> - Senior Developer &amp; Lead Coder (<a href="https://github.com/taratip" target="_blank">Tara's Github</a>)</li>
          <li><b>Monroe Mann</b> - Project Manager &amp; Junior Developer (<a href="https://github.com/monroemann" target="_blank">Monroe's Github</a>)</li>
          <li><b>Chris Van</b> - Junior Developer (<a href="https://github.com/dynnog" target="_blank">Chris' Github</a>)</li>
          <li><b>Robert Chen</b> - Junior HTML/CSS Coder (<a href="https://github.com/gamester543" target="_blank">Robert's Github</a>)</li>
          <li>Your name here?  If you're a coder/developer, <a href="volunteer.html">volunteer with us</a>.  We need you.</li>

        </ul>
    </div>
  </div>

  <div class="col-xs-12">
    <h2>The Reviewers</h2>
    <ul>
      <li><b>Attorney Monroe Mann</b>, PhD, Esq, MBA, LLM, ME - Practising Attorney in New York (<a href="http://monroemannlaw.com" target="_blank">Monroe's Law Practice</a>)</li>
      <li>Your name here? If you're an attorney or law student, <a href="volunteer.html">volunteer with us</a>.  We need you.</li>
    </ul>
  </div>

  <p> You can contact anyone above by sending an email to info@breakdiving.org </p>
</div>
