<br><br>

<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>The TOS Fairness Terms of Service &amp; Privacy Policy</h1>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h4>4/28/2018</h4>
        <p>Our terms of service and privacy policy are based on the criteria set forth in the TOS Fairness Project Online User Bill Of Rights</p>

        <h5>Main Bullet Points</h5>
          <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>

        <h5>Other</h5>

    </div>
    <div class="col-xs-12 col-md-3">
      <h4>Earlier Versions</h4>
        <ul>
          <li>NOT APPLICABLE</li>
          
        </ul>
    </div>
  </div>
</div>