<br><br>

<div class="col-10 offset-1 col-sm-8 offset-sm-2 card form">

  <h1>The TOS Fairness Terms of Service &amp; Privacy Policy</h1>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h4>4/28/2018</h4>
        <h5>Our terms of service and privacy policy are based on the criteria set forth in the TOS Fairness Project Online User Bill Of Rights</h5>

        <h5>OUR EMAIL: info@breakdiving.org</h5>

        <h5>The Bullet Points</h5>
        <br>
          <ol>
            <li><strong>The Right To Privacy:</strong> First, if you do not sign up, we do not collect any data about you at all except anonymous tracking data (such as from google analytics) to determine which part of the world people are visiting from.  If you do sign up, we will NEVER sell, rent, or share any of your personal information with others without your express permission.  If you sign up, your full name is never posted.  When you delete your account, we do not store any of your data on our servers. We will only release your private info to a government agent or law enforcement department or officer upon being presented with a lawful subpoena or are otherwise required to do so by law.  If you register as a user, we (Break Diving, Inc.) may add you to our email list, and at times, email you, but you may unsubcribe at any time.  Upon signup, we recommend (but do not require) that you send us an email immediately (see email above) with your full legal name, legal address, photo, two alternate email addresses that you have access to, two cell phones you have access to, and five security questions as well as answers.  We will file this information away, and only make use of it to verify your identity should you get locked out of your account and do not have access to the email account you used to sign up.  This is important because often, we change phone numbers, but forget that we have that number on file with an online service provider.  Then, someone else ports that number.  If they know you also have an account with us, they could use that number to attempt to steal your identity.  For this reason, a) if you change your phone number, you MUST let us know as soon as possible!, and b) when trying to prove identity, we will also consider signed and notorized affidavits, government issued IDs, other users who can vouch for your identity, etc. to help prove you are who you say you are.  While we will make every effort to help you prove your identity, if we cannot prove it to our satisfaction, we have no obligation to provide you with access to the account, so please, share as much of the above information with us as you are comfortable, because it will make your account recovery that much more likely.</li>
            <br>
            <li><strong>The Right to Equal, Fair, &amp; Reasonable Expression:</strong> As a registered user, you can say anything here that you want in your public ratings, as long as you express yourself (using a reasonable person standard) in a mature way, without profanity, and don't make posts that belittle an individual or that may result in direct physical harm or direct self-harm to others.  Any user rating of a company's terms of service/privacy policy must be backed up with a story that justifies your rating, i.e. instead of saying "This company sucks!" please explain what the company did that makes you feel that way, i.e. "They kicked me off simply because I expressed my opinion."  If your rating of a company does not include a clear explanation for your score, we will give you a reasonable opportunity to address it.  If you do not address it, we may remove your rating as a courtesy to the rated company.  Further, we reserve the right to remove any rating we determine to be fake, created by a bot, or that appears to be simply vindictive--the more specifically you write, and the less similar each of your reviews, the better we can tell if a review is sincere.  We will give you an opportunity to defend your review prior to it being removed.</li>
            <br>
            <li><strong>The Right to Control My Intellectual Property:</strong> We don't own anything you post and never will. You simply give us a non-exclusive license to share what you wrote with others through publication of this website, and if news media, researchers, or other similar third parties want to quote or paraphrase what you wrote for research or reporting purposes, you give those particular third parties permission to do so.  That's it.  Remember that your full name is never shared in You can request to remove any content at any time by writing to us at info@breakdiving.org.</li>
            <br>
            <li><strong>The Right to Sue:</strong> You can sue us if you feel we violated these terms of service or this privacy policy.  Prior to any lawsuit, however, you agree  to first make a reasonable attempt to negotiate a remedy with us directly, and give us a reasonable opportunity to assist you.  If such negotiations fail to resolve the issue, you may file suit in a court of law.  In accordance with the TOS Fairness bill of rights you may file suit in any valid courthouse in any country in the world where venue would otherwise be proper, but until we make $250,000/year or more, you would have to pay for any reasonable economy flight costs, reasonably economy hotel fees, and reasonable additional legal fees for our company's appearance in a court outside of New York State, Westchester County.  In all cases, New York Law will be used to determine the outcome of the case.  Further, if the court finds that your lawsuit is frivolous, you will reimburse us for all costs we were forced to incur to defend the case.</li>
            <br>
            <li><strong>The Right to Low-Cost Arbitration:</strong>You can file arbitration against us if you feel we violated these terms of service or this privacy policy.  Prior to the filing of any arbitration, however, you agree to first make a reasonable attempt to negotiate a remedy with us directly, and give us a reasonable opportunity to assist you.  If such negotiations fail to resolve the issue, you may initiate arbitration.  In accordance with the TOS Fairness bill of rights you may initiate arbitration through any valid arbitration organization in any country in the world where venue would otherwise be proper, but until we make $250,000/year or more, you would have to pay for any reasonable economy flight costs, reasonably economy hotel fees, and reasonable additional legal fees for our company's appearance in an arbitration hall outside of New York State, Westchester County. However, we will allow long-distance arbitration via email, phone, and/or regular mail. In all cases, New York Law will be used to determine the outcome of the case.  If the arbitrator finds that your filing is frivolous, however, you will reimburse us for all costs we were forced to incur to defend the case.</li>
            <br>
            <li><strong>The Right to Join a Class Action:</strong> You may join any class action brought against us.</li>
            <br>
            <li><strong>The Right to No Hidden Terms or Fees:</strong> There are no hidden terms in this agreement, and you do not have to pay anything to use our service.</li>
            <br>
            <li><strong>The Right to Fair Process &amp; to Be Heard:</strong> We will not kick you off this service or delete any posts without first giving you, the user, a reason for the alleged terms of service violation, and without also providing you an opportunity to fix the alleged issue.  If after a reasonable period of time, the issue has not been fixed, we have the right to delete the comment and/or delete the user, subject to our fair appeal process.</li>
            <br>
            <li><strong>The Right to Appeal &amp; the Right to Return:</strong> If we have determined you have violated our terms of service and we have either removed or modified a post and/or deleted you as a user, you have the right to appeal.  During this appeal, we will (if you would like) post your name on our website listing all users who are currently appealing a decision by our staff, and you will be given a fair opportunity to explain to a higher level of authority within our company than the first level of authority why you feel there was no violation.  If this higher level of authority agrees with you, you will be reinstated and/or you will be allowed to repost.  If this higher level of authority agrees with the original staff member who made the initial decision, the original decision will stand, i.e. the post will remain modified and/or deleted, or you will be completely removed from the service with all data deleted.  If you are deleted as a user, do not fret: you will be entitled to return to the site after a reasonable period of time, such reasonable time to be decided by our staff, never to exceed one year.  You have the right to make a request once per quarter to be re-instated and it is your obligation to request re-instatement. If, upon your return, you make the same type of terms of service violation, and the same appeal process concurs, we reserve the right to forever remove you from the service.  While this is extreme, it is also fair to you, to our other users, and to us as a company. Finally, if you repeatedly create new accounts after you have been barred from the service in an effort to bypass our appeals decision, you may be liable for tortious interference with business.  We think this scenario is highly unlikely, but we reserve the right to pursue that aveunue in case a user becomes really meddlesome.</li>
            <br> 
            <li><strong>The Right to Reasonable Terms:</strong> The above terms and privacy policy are designed to be simple, easy to understand, and above all, fair to you, the user.  We believe that they are.</li>
          </ol>

          <h5>ARE YOU A USER OR SITE VISITOR?</h5>
            <ul>
              <li><b>ACCURACY:</b> We make a reasonable effort to ensure that each attorney or law student reviews each contract in a fair, impartial, objective, and accurate manner using the bill of rights and rating system to guide the ratings.  Only licensed attorneys, former attorney, and final year law students are accepted onto our rating team, and they each must have have strong familiarity with contracts.  However, to err is human, so while our intent is to be fully accurate with each rating, an oversight or inaccuracy may occasionally slip in unintentionally.  If this is the case, and you find such an oversight or inaccuracy, we ask that you state this in the user reviews section and also send us an email (see top) to help us improve.  We will review the perceived inaccuracy and if proven valid, we will update the review as soon as we can, based on staff availability.</li>
              <li><b>NOT LEGAL ADVICE:</b> The reviews on this website are merely a public service. No reviews on this website are to be considered legal advice. Each review is merely one potential analysis. Remember that each 'Click to Agree' agreement is (in most jurisdictions) deemed to be a binding contract between you and the company. Therefore, before making any final decision on whether to sign any online agreement, if you are uncertain, please be sure to read the contract in full, and if you are still confused, consult a licensed attorney in your country or state.  Use of this website does not in any way create any lawyer-client relationship anywhere in the world.  Posting of reviews on this website is not deemed to be the practice of law in any jurisdiction because there is no specified client, and because the agreements are not being analyzed under the laws of any particular jurisdiction.  The lens through which we analyze these agreements is simple common sense and general fairness from the point of view of a standard user.  Therefore, these reviews should in all situations simply be considered the public posting of research.</li>
            </ul>

          <h5>ARE YOU A COMPANY?</h5>
            <ul>
              <li><b>FAIR REVIEW:</b> You have the right to a fair review based wholly on the objective criteria we have presented in our bill of rights and rating system.  We make every effort to ensure that personal feelings are kept out of the reviews, because each attorney, former attorney, or law student is entitled to share his or her personal use feelings as a regular user.</li>
              <li><b>ADDRESSING INACCURACIES:</b> You have the right to address any perceived inaccuracies you feel we have posted about your company by sending an email to us (see top of agreement for our email address).  We will look at any information you present to us, and make a fair and timely effort based on our current staffing situation to determine if one of our reviewers was inaccurate.  We will make a reasonable effort to promptly update any information that we agree is inaccurate.</li>
              <li><b>UPDATES TO BILL OF RIGHTS OR RATING SYSTEM:</b> We update the bill of rights and rating system whenever we feel it deserves such attention to improve our service to users worldwide.  Please check back on theose respective pages to be notified of changes.</li>
            </ul>

    </div>

    <div class="col-xs-12 col-md-3">
      <h4>Minor Changes to This Agreement</h4>
        <ul>
          <li>NOT APPLICABLE</li>
          
        </ul>
    </div>

    <div class="col-xs-12 col-md-3">
      <h4>Earlier Versions</h4>
        <ul>
          <li>NOT APPLICABLE</li>
          
        </ul>
    </div>
  </div>
</div>