<div class="container pt-5">
  <h2>Daily Top Ten UnFair Contracts</h2>
  <br />
  <div class="row">
    <div class="col-md-7">
      <% if @top_ten_unfairs.size > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Contract Title</th>
              <th scope="col">Total Rating</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'contracts', :collection => @top_ten_unfairs, as: :item%>
          </tbody>
        </table>
      <% else %>
        No record found.
      <% end %>
    </div>
  </div>
</div>
