<div class="container pt-5">
  <h2>Update Contract Request for <%= @update_request.company.company_name %></h2>
  <br />
  <%= render partial: 'form', locals: {update_request: @update_request} %>
</div>
