<div class="col-7">
  <table class="table">
    <tbody>
      <tr>
        <th scope="col">Contract Title</th>
        <td><%= @contract.contract_title %></td>
      </tr>
      <tr>
        <th scope="col">Contract Website</th>
        <td><%= @contract.website %></td>
      </tr>
      <tr>
        <th scope="col">Contract Application</th>
        <td><%= @contract.application %></td>
      </tr>
      <tr>
        <th scope="col">Contract Type</th>
        <td><%= @contract.contract_type %></td>
      </tr>
    </tbody>
  </table>
</div>
