<tr>
  <td><%= company.company_name %></td>
  <td><%= company.website %></td>
  <td>
    <% if company.contract_count == 0 %>
      Waitlisted
    <% else %>
      Reviewed
    <% end %>
  </td>
  <td><%= link_to 'View', company_contracts_path(company) %>
  </td>
</tr>
