<div class="container pt-5">
  <h2>Alphabetical List of Entries by Company Name</h2>
  <p>Note: This list shows companies with both reviewed contracts and also those waiting to be reviewed.  Click 'view' to see a list of contracts associated with that company.  If you don't find what you are looking for, use the form at the bottom to add that company to our waiting list.</p>
  <br />
  <div class="row">
    <div class="col-md-8">
      <% if !@companies.nil? %>
        <table class="table company-list">
          <thead>
            <tr>
              <th scope="col">Company Name</th>
              <th scope="col">Website</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @companies %>
          </tbody>
        </table>
      <% else %>
        No record found.
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>Didn't find what you are looking for? Use the form below to add it to our waiting list!
      Our team of volunteer attorneys will get to it as soon as they can!</p>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
