<div class="container pt-5">
  <h2>Alphabetical List of Contracts By Company Name</h2>
  <br />
  <div class="row">
    <div class="col-md-7">
      <% if !@companies.nil? %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Company Name</th>
              <th scope="col">Website</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @companies %>
          </tbody>
        </table>
      <% else %>
        No record found.
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>Didn't find what you are looking for? Use the form below to add it to our waiting list!
      Our team of volunteer attorneys will get to it as soon as they can!</p>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
