<div class="container pt-5">
  <h2>Alphabetical List of Entries by Company Name</h2>
  <p>Note: This list shows companies with reviewed contracts, with update requests, and also those waiting to be reviewed that met your search criteria.  Click 'view' to see a list of contracts associated with that company.  If you don't find what you are looking for, or need to request a review of an updated version of an already reviewed TOS, use the form at the bottom.</p>
  <div class="row">
    <div class="col-md-8">
      <% if @companies.present? %>
        <table class="table company-list search-list">
          <thead>
            <tr>
              <th scope="col">Company Name</th>
              <th scope="col">Website</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @companies %>
          </tbody>
        </table>
      <% else %>
        <div class="search-box">
          <p>Sorry, No Results Found.</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h3><strong>Didn't find what you are looking for?</strong></h3>
      <h3><strong>Need to request review of an updated TOS?</strong></h3>
      <p>Use the form below to add the new company to our waiting list, or to request a review of a recently updated TOS, Privacy Policy, etc!  Our team of volunteers will get to it as soon as they can!</p>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
