<div class="container pt-5">
  <div class="row">
    <div class="col-md-7">
      <p class="h3">Request a new company review, or</p>
      <p class="h3">Request review of an updated TOS</p>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
