// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main, header, footer {
  flex:1;
}

.list-group-item {
  display: list-item;
}

.editable {
  display: none;
}

ul.contract-revision-list {
  list-style: none;
  padding-left: 0;

  li {
    margin: 0 0 5px 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1.15em; }

  a.request span::before {
    content: "\A";
    white-space: pre;
  }

  table.company-list,
  table.company-list thead,
  table.company-list tbody,
  table.company-list th,
  table.company-list td,
  table.company-list tr {
    display: block;
    table-layout: fixed;
  }

  table.company-list thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.company-list tr {
    border: 1px solid #ccc;
  }

  table.company-list td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    word-wrap: break-word;
  }

  table.company-list td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  table.company-list td:nth-of-type(1):before { content: "Company Name"; }
  table.company-list td:nth-of-type(2):before { content: "Web Site"; }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1.35em; }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  h1 { font-size: 1.8em; }
  h2 { font-size: 1.6em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.45em; }
}
