// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main, header, footer {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}

.list-group-item {
  display: list-item;
}

.editable {
  display: none;
}

ul.contract-revision-list {
  list-style: none;
  padding-left: 0;

  li {
    margin: 0 0 5px 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1.15em; }
  a.request span {
    display: block;
  }
  a.request span::before {
    content: attr(data-text);
  }
  .btn-search {
    margin-top: 15px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1.35em; }
  .request {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  h1 { font-size: 1.8em; }
  h2 { font-size: 1.6em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.45em; }
}
